.page-header {
  text-align: center;
}

.navigator {
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.navigator a {
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.navigator a:hover {
  background-color: grey;
  color: black;
}