@{
  Layout = "_Layout";
}

<p>@Html.ActionLink("See All Artists", "Index", "Artists")</p>
<p>@Html.ActionLink("See All Albums", "Index", "Albums")</p>
<p>@Html.ActionLink("See All Genres", "Index", "Genres")</p>
<p>@Html.ActionLink("See All Songs", "Index", "Songs")</p>