@{
  Layout = "_Layout";
}

@model RecordCollection.Models.Song

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h3>

@using (Html.BeginForm())
{
  <input type="submit" value="Confirm Delete" />
}

<p>@Html.ActionLink("Back Without Deleting", "Details", new { id = Model.SongId })</p>
<p>@Html.ActionLink("Song List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>